This script is to prepare the one-hot encoding for categorical variables in a panda df for training and testing data.

to calculate: 
- missing feature index for every testing instance        
- mappings of features to dims

In [1]:
import six
import sys
sys.modules['sklearn.externals.six'] = six
import mlrose
import utils
import pickle
from collections import defaultdict
import numpy as np

/mnt/ds3lab-scratch/raox/gatech_data_cleaning/ICDE2021-revision/nacl36/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/mnt/ds3lab-scratch/raox/gatech_data_cleaning/ICDE2021-revision/nacl36/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
import pandas as pd

In [3]:
from preprocess_mv import preprocess_data
from collections import OrderedDict

/mnt/ds3lab-scratch/raox/gatech_data_cleaning/ICDE2021-revision/nacl36/lib/python3.6/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [4]:
dataset = "Titanic"

In [5]:
dirty_X_train = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_X_train.csv")
dirty_y_train = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_y_train.csv")
dirty_X_test = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_X_test.csv")
dirty_y_test = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_y_test.csv")

In [6]:
dirty_X_train = dirty_X_train.fillna(0)

In [7]:
dirty_X_test = dirty_X_test.fillna(0)

In [8]:
[y_test.shape[0] for y_test in [dirty_y_train]]

[624]

In [9]:
X_train, y_train, X_test_list, y_test_list, mappings, mappings_dict = preprocess_data('Titanic', 
                                                             dirty_X_train, dirty_y_train, 
                                                             [dirty_X_test], [dirty_y_test])

dataset: {'data_dir': 'Titanic', 'error_types': ['missing_values'], 'drop_variables': ['PassengerId', 'Name'], 'text_variables': ['Ticket'], 'label': 'Survived', 'categorical_variables': ['Survived'], 'ml_task': 'classification'}
columns to encode: ['Sex', 'Cabin', 'Embarked']

In [10]:
X_train.shape

(624, 359)

In [11]:
dirty_X_test = pd.read_csv("./data-robustml-mv/Titanic/missing_values/split_144/dirty_X_test.csv")

In [12]:
null_data = dirty_X_test[dirty_X_test.isnull().any(axis=1)]

In [13]:
missing = [[]] * dirty_X_test.shape[0]
for i, row in null_data.iterrows():
    # append the original index of the missing feature
    cols = null_data.columns.get_values()[np.where(pd.isnull(row))]
    
    idx = [mappings_dict[col][0] for col in cols]
    missing[i] = idx
missing = np.array(missing)

In [14]:
output = defaultdict(lambda: defaultdict(list))

In [24]:
output['train']['nacl'] = (X_train, y_train)

In [16]:
output['test']['nacl'] = (X_test_list[0], y_test_list[0])

In [17]:
output['train']['nacl'][1].shape

(624,)

In [18]:
output['test']['nacl'][1].shape

(267,)

In [19]:
output['missing_test'] = missing

In [20]:
output['mappings1hot_dict'] = mappings_dict

In [21]:
output['mappings1hot_list'] = mappings

In [22]:
pickle.dump(dict(output), open("./data-robustml-mv/Titanic/missing_values/split_144/data.p", 'wb'))

In [26]:
pwd

'/mnt/ds3lab-scratch/raox/gatech_data_cleaning/ICDE2021-revision/CleanML'

In [29]:
mappings_dict

{'Pclass': (0, [0]),
 'Age': (1, [1]),
 'SibSp': (2, [2]),
 'Parch': (3, [3]),
 'Fare': (4, [4]),
 'Sex': (5, [5, 6]),
 'Ticket': (6,
  [7,
   8,
   9,
   10,
   11,
   12,
   13,
   14,
   15,
   16,
   17,
   18,
   19,
   20,
   21,
   22,
   23,
   24,
   25,
   26,
   27,
   28,
   29,
   30,
   31,
   32,
   33,
   34,
   35,
   36,
   37,
   38,
   39,
   40,
   41,
   42,
   43,
   44,
   45,
   46,
   47,
   48,
   49,
   50,
   51,
   52,
   53,
   54,
   55,
   56,
   57,
   58,
   59,
   60,
   61,
   62,
   63,
   64,
   65,
   66,
   67,
   68,
   69,
   70,
   71,
   72,
   73,
   74,
   75,
   76,
   77,
   78,
   79,
   80,
   81,
   82,
   83,
   84,
   85,
   86,
   87,
   88,
   89,
   90,
   91,
   92,
   93,
   94,
   95,
   96,
   97,
   98,
   99,
   100,
   101,
   102,
   103,
   104,
   105,
   106,
   107,
   108,
   109,
   110,
   111,
   112,
   113,
   114,
   115,
   116,
   117,
   118,
   119,
   120,
   121,
   122,
   123,
   124,
   125,
   126,
   127,
   128,
   129,
   130,
   131,
   132,
   133,
   134,
   135,
   136,
   137,
   138,
   139,
   140,
   141,
   142,
   143,
   144,
   145,
   146,
   147,
   148,
   149,
   150,
   151,
   152,
   153,
   154,
   155,
   156,
   157,
   158,
   159,
   160,
   161,
   162,
   163,
   164,
   165,
   166,
   167,
   168,
   169,
   170,
   171,
   172,
   173,
   174,
   175,
   176,
   177,
   178,
   179,
   180,
   181,
   182,
   183,
   184,
   185,
   186,
   187,
   188,
   189,
   190,
   191,
   192,
   193,
   194,
   195,
   196,
   197,
   198,
   199,
   200,
   201,
   202,
   203,
   204,
   205,
   206,
   207,
   208,
   209,
   210,
   211,
   212,
   213,
   214,
   215,
   216,
   217,
   218,
   219,
   220,
   221,
   222,
   223,
   224,
   225,
   226,
   227,
   228,
   229,
   230,
   231,
   232,
   233,
   234,
   235,
   236,
   237,
   238,
   239,
   240,
   241,
   242,
   243,
   244,
   245,
   246,
   247,
   248,
   249,
   250,
   251,
   252,
   253,
   254,
   255,
   256,
   257,
   258,
   259,
   260,
   261,
   262,
   263,
   264,
   265,
   266,
   267,
   268,
   269,
   270,
   271,
   272,
   273,
   274,
   275,
   276,
   277,
   278,
   279,
   280,
   281,
   282,
   283,
   284,
   285,
   286,
   287,
   288,
   289,
   290,
   291,
   292,
   293,
   294,
   295,
   296,
   297,
   298,
   299,
   300,
   301,
   302,
   303,
   304,
   305,
   306,
   307,
   308,
   309,
   310,
   311,
   312,
   313,
   314,
   315,
   316,
   317,
   318,
   319,
   320,
   321,
   322,
   323,
   324,
   325,
   326,
   327,
   328,
   329,
   330,
   331,
   332,
   333,
   334,
   335,
   336,
   337,
   338,
   339,
   340,
   341,
   342,
   343,
   344,
   345,
   346,
   347,
   348,
   349,
   350,
   351,
   352,
   353,
   354,
   355,
   356,
   357,
   358,
   359,
   360,
   361,
   362,
   363,
   364,
   365,
   366,
   367,
   368,
   369,
   370,
   371,
   372,
   373,
   374,
   375,
   376,
   377,
   378,
   379,
   380,
   381,
   382,
   383,
   384,
   385,
   386,
   387,
   388,
   389,
   390,
   391,
   392,
   393,
   394,
   395,
   396,
   397,
   398,
   399,
   400,
   401,
   402,
   403,
   404,
   405,
   406,
   407,
   408,
   409,
   410,
   411,
   412,
   413,
   414,
   415,
   416,
   417,
   418,
   419,
   420,
   421,
   422,
   423,
   424,
   425,
   426,
   427,
   428,
   429,
   430,
   431,
   432,
   433,
   434,
   435,
   436,
   437,
   438,
   439,
   440,
   441,
   442,
   443,
   444,
   445,
   446,
   447,
   448,
   449,
   450,
   451,
   452,
   453,
   454,
   455,
   456,
   457,
   458,
   459,
   460,
   461,
   462,
   463,
   464,
   465,
   466,
   467,
   468,
   469,
   470,
   471,
   472,
   473,
   474,
   475,
   476,
   477,
   478,
   479,
   480,
   481,
   482,
   483,
   484,
   485,
   486,
   487,
   488,
   489,
   490,
   491,
   492,
   493,
   494,
   495,
   496,
   497,
   498,
   499,
   500,
   501,
   502,
   503,
   504,
   505,
   506,
   507,
   508,
   509,
   510,
   511,
   512,
   513,
   514,
   515,
   516,
   517,
   518,
   519,
   520,
   521,
   522,
   523,
   524,
   525,
   526,
   527,
   528,
   529,
   530,
   531,
   532,
   533,
   534,
   535,
   536,
   537,
   538,
   539,
   540,
   541,
   542,
   543,
   544,
   545,
   546,
   547,
   548,
   549,
   550,
   551,
   552,
   553,
   554,
   555,
   556,
   557,
   558,
   559,
   560,
   561,
   562,
   563,
   564,
   565,
   566,
   567,
   568,
   569,
   570,
   571,
   572,
   573,
   574,
   575,
   576,
   577,
   578,
   579,
   580,
   581,
   582,
   583,
   584,
   585,
   586,
   587,
   588,
   589,
   590,
   591,
   592,
   593,
   594,
   595,
   596,
   597,
   598,
   599,
   600,
   601,
   602,
   603,
   604,
   605,
   606,
   607,
   608,
   609,
   610,
   611,
   612,
   613,
   614,
   615,
   616,
   617,
   618,
   619,
   620,
   621,
   622,
   623,
   624,
   625,
   626,
   627,
   628,
   629,
   630,
   631,
   632,
   633,
   634,
   635,
   636,
   637,
   638,
   639,
   640,
   641,
   642,
   643,
   644,
   645,
   646,
   647,
   648,
   649,
   650,
   651,
   652,
   653,
   654,
   655,
   656,
   657,
   658,
   659,
   660,
   661,
   662,
   663,
   664,
   665,
   666,
   667,
   668,
   669,
   670,
   671,
   672,
   673,
   674,
   675,
   676,
   677,
   678,
   679,
   680,
   681,
   682,
   683,
   684,
   685,
   686,
   687]),
 'Cabin': (7,
  [688,
   689,
   690,
   691,
   692,
   693,
   694,
   695,
   696,
   697,
   698,
   699,
   700,
   701,
   702,
   703,
   704,
   705,
   706,
   707,
   708,
   709,
   710,
   711,
   712,
   713,
   714,
   715,
   716,
   717,
   718,
   719,
   720,
   721,
   722,
   723,
   724,
   725,
   726,
   727,
   728,
   729,
   730,
   731,
   732,
   733,
   734,
   735,
   736,
   737,
   738,
   739,
   740,
   741,
   742,
   743,
   744,
   745,
   746,
   747,
   748,
   749,
   750,
   751,
   752,
   753,
   754,
   755,
   756,
   757,
   758,
   759,
   760,
   761,
   762,
   763,
   764,
   765,
   766,
   767,
   768,
   769,
   770,
   771,
   772,
   773,
   774,
   775,
   776,
   777,
   778,
   779,
   780,
   781,
   782,
   783,
   784,
   785,
   786,
   787,
   788,
   789,
   790,
   791,
   792,
   793,
   794,
   795,
   796,
   797,
   798,
   799,
   800,
   801,
   802,
   803,
   804,
   805,
   806,
   807,
   808,
   809,
   810,
   811,
   812,
   813,
   814,
   815,
   816,
   817,
   818,
   819,
   820,
   821,
   822,
   823,
   824,
   825,
   826,
   827,
   828,
   829,
   830,
   831,
   832,
   833,
   834,
   835]),
 'Embarked': (8, [836, 837, 838, 839])}

In [30]:
null_data.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [31]:
null_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,148,3,"ford, miss. robina maggie ""ruby""",female,9.0,2,2,w./c. 6608,34.3750,NaN,s
2,603,1,"harrington, mr. charles h",male,NaN,0,0,113796,42.4000,NaN,s
3,224,3,"nenkoff, mr. christo",male,NaN,0,0,349234,7.8958,NaN,s
4,649,3,"willey, mr. edward",male,NaN,0,0,s.o./p.p. 751,7.5500,NaN,s
6,31,1,"uruchurtu, don. manuel e",male,40.0,0,0,pc 17601,27.7208,NaN,c
7,26,3,"asplund, mrs. carl oscar (selma augusta emilia...",female,38.0,1,5,347077,31.3875,NaN,s
8,549,3,"goldsmith, mr. frank john",male,33.0,1,1,363291,20.5250,NaN,s
9,351,3,"odahl, mr. nils martin",male,23.0,0,0,7267,9.2250,NaN,s
10,788,3,"rice, master. george hugh",male,8.0,4,1,382652,29.1250,NaN,q
11,852,3,"svensson, mr. johan",male,74.0,0,0,347060,7.7750,NaN,s
12,343,2,"collander, mr. erik gustaf",male,28.0,0,0,248740,13.0000,NaN,s
13,25,3,"palsson, miss. torborg danira",female,8.0,3,1,349909,21.0750,NaN,s
14,851,3,"andersson, master. sigvard harald elias",male,4.0,4,2,347082,31.2750,NaN,s
15,726,3,"oreskovic, mr. luka",male,20.0,0,0,315094,8.6625,NaN,s
16,561,3,"morrow, mr. thomas rowan",male,NaN,0,0,372622,7.7500,NaN,q
17,275,3,"healy, miss. hanora ""nora""",female,NaN,0,0,370375,7.7500,NaN,q
18,483,3,"rouse, mr. richard henry",male,50.0,0,0,a/5 3594,8.0500,NaN,s
19,71,2,"jenkin, mr. stephen curnow",male,32.0,0,0,c.a. 33111,10.5000,NaN,s
20,554,3,"leeni, mr. fahim (""philip zenni"")",male,22.0,0,0,2620,7.2250,NaN,c
21,299,1,"saalfeld, mr. adolphe",male,NaN,0,0,19988,30.5000,c106,s
23,625,3,"bowen, mr. david john ""dai""",male,21.0,0,0,54636,16.1000,NaN,s
24,589,3,"gilinski, mr. eliezer",male,22.0,0,0,14973,8.0500,NaN,s
25,329,3,"goldsmith, mrs. frank john (emily alice brown)",female,31.0,1,1,363291,20.5250,NaN,s
26,204,3,"youseff, mr. gerious",male,45.5,0,0,2628,7.2250,NaN,c
27,168,3,"skoog, mrs. william (anna bernhardina karlsson)",female,45.0,1,4,347088,27.9000,NaN,s
28,883,3,"dahlberg, miss. gerda ulrika",female,22.0,0,0,7552,10.5167,NaN,s
29,758,2,"bailey, mr. percy andrew",male,18.0,0,0,29108,11.5000,NaN,s
30,123,2,"nasser, mr. nicholas",male,32.5,1,0,237736,30.0708,NaN,c
31,685,2,"brown, mr. thomas william solomon",male,60.0,1,1,29750,39.0000,NaN,s
32,827,3,"lam, mr. len",male,NaN,0,0,1601,56.4958,NaN,s
...,...,...,...,...,...,...,...,...,...,...,...
225,459,2,"toomey, miss. ellen",female,50.0,0,0,f.c.c. 13531,10.5000,NaN,s
226,230,3,"lefebre, miss. mathilde",female,NaN,3,1,4133,25.4667,NaN,s
227,260,2,"parrish, mrs. (lutie davis)",female,50.0,0,1,230433,26.0000,NaN,s
228,100,2,"kantor, mr. sinai",male,34.0,1,0,244367,26.0000,NaN,s
229,809,2,"meyer, mr. august",male,39.0,0,0,248723,13.0000,NaN,s
230,241,3,"zabour, miss. thamine",female,NaN,1,0,2665,14.4542,NaN,c
231,33,3,"glynn, miss. mary agatha",female,NaN,0,0,335677,7.7500,NaN,q
232,552,2,"sharp, mr. percival james r",male,27.0,0,0,244358,26.0000,NaN,s
234,787,3,"sjoblom, miss. anna sofia",female,18.0,0,0,3101265,7.4958,NaN,s
236,70,3,"kink, mr. vincenz",male,26.0,2,0,315151,8.6625,NaN,s
237,281,3,"duane, mr. frank",male,65.0,0,0,336439,7.7500,NaN,q
239,456,3,"jalsevac, mr. ivan",male,29.0,0,0,349240,7.8958,NaN,c
241,240,2,"hunt, mr. george henry",male,33.0,0,0,sco/w 1585,12.2750,NaN,s
242,871,3,"balkic, mr. cerin",male,26.0,0,0,349248,7.8958,NaN,s
244,282,3,"olsson, mr. nils johan goransson",male,28.0,0,0,347464,7.8542,NaN,s
246,205,3,"cohen, mr. gurshon ""gus""",male,18.0,0,0,a/5 3540,8.0500,NaN,s
247,227,2,"mellors, mr. william john",male,19.0,0,0,sw/pp 751,10.5000,NaN,s
248,324,2,"caldwell, mrs. albert francis (sylvia mae harb...",female,22.0,1,1,248738,29.0000,NaN,s
249,533,3,"elias, mr. joseph jr",male,17.0,1,1,2690,7.2292,NaN,c
251,236,3,"harknett, miss. alice phoebe",female,NaN,0,0,w./c. 6609,7.5500,NaN,s
252,695,1,"weir, col. john",male,60.0,0,0,113800,26.5500,NaN,s
253,428,2,"phillips, miss. kate florence (""mrs kate louis...",female,19.0,0,0,250655,26.0000,NaN,s
254,618,3,"lobb, mrs. william arthur (cordelia k stanlick)",female,26.0,1,0,a/5. 3336,16.1000,NaN,s
256,121,2,"hickman, mr. stanley george",male,21.0,2,0,s.o.c. 14879,73.5000,NaN,s
257,744,3,"mcnamee, mr. neal",male,24.0,1,0,376566,16.1000,NaN,s
260,75,3,"bing, mr. lee",male,32.0,0,0,1601,56.4958,NaN,s
261,794,1,"hoyt, mr. william fisher",male,NaN,0,0,pc 17600,30.6958,NaN,c
263,35,1,"meyer, mr. edgar joseph",male,28.0,1,0,pc 17604,82.1708,NaN,c
264,523,3,"lahoud, mr. sarkis",male,NaN,0,0,2624,7.2250,NaN,c
265,478,3,"braund, mr. lewis richard",male,29.0,1,0,3460,7.0458,NaN,s